<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Agregar Productos
  </title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/my.js"></script>
  <style>
    h1{
        font-family: 'Rubik', sans-serif;
        color: black;
        text-align: center;
      }
  </style>

</head>

<body style="background-color: #e3f2fd;">
    
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">Do-Your-List.com</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/productos/lista">Lista</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
    </nav>
        <div class="container" style="background-color: #e3f2fd; padding: 100px;">
                <h1>Agregar Productos</h1>
                <form style="padding-top: 40px;" action="/productos/lista" method="POST">
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select id="categoria" class="form-control" name="categoria">
                          <option>Choose...</option>
                          <option value="Lácteos">Lacteos</option>
                          <option value="Carnes y Pescados">Carnes</option>
                          <option value="Despensa">Despensa</option>
                          <option value="Panadería y Tortillería">Panadería y Tortillería</option>
                          <option value="Higiene y Belleza">Higiene y Belleza</option>
                          <option value="Jugos y Bebidas">Jugos y Bebidas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Categoria</label>
                        <select disabled id="name" class="form-control" name="name">
                          <option>Choose...</option>
                          <option value="leche" class="Lácteos" hidden = true>Leche</option>
                          <option value="crema" class="Lácteos" hidden = true>Crema</option>
                          <option value="mantequilla" class="Lácteos" hidden = true>mantequilla</option>
                          <option value="bistec" class = "Carnes y Pescados" hidden = true>Bistec</option>
                          <option value="milanesa" class="Carnes y Pescados" hidden = true>Milanesa</option>
                          <option value="pechuga" class="Carnes y Pescados" hidden = true>Pechuga</option>
                          <option value="pollo" class="Carnes y Pescados" hidden = true>Pollo Entero</option>
                          <option value="harina" class="Panadería y Tortillería" hidden = true>Harina</option>
                          <option value="azucar" class="Panadería y Tortillería" hidden = true>Azucar</option>
                          <option value="pan" class="Panadería y Tortillería" hidden = true>Pan</option>
                          <option value="knorr" class = "Despensa" hidden = true>Knorr Suiza</option>
                          <option value="sal" class="Despensa" hidden = true>Sal</option>
                          <option value="shampoo" class="Higiene y Belleza" hidden = true>Shampoo</option>
                          <option value="jabon" class="Higiene y Belleza" hidden = true>Jabón</option>
                          <option value="agua" class="Jugos y Bebidas" hidden = true>Agua</option>
                          
                        </select>                      
                    </div>
                    <div class="form-group">
                      <input type="number" name="cantidad" step="1">
                      <select name="unidad">
                        <option value="kilos">Kg</option>
                        <option value="litros">Lts</option>
                        <option value="elementos">Elementos</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                

                <script>
                 $("#categoria").on("change", function() {
                   $('#name').removeAttr("disabled");
                   //alert( $("#categoria").val() );
                   //$('.lacteos').attr("hidden", true);
                   switch($("#categoria").val()){
                     case "Lácteos":
                     $('.Lácteos').attr("hidden", false);
                     break;
                     case "Carnes y Pescados":
                     $('.Carnes y Pescados').attr("hidden", false);
                     break;
                     case "Panadería y Tortillería":
                     $('.Panadería y Tortillería').attr("hidden", false);
                     break;
                     case "Panadería y Tortillería":
                     $('.Panadería y Tortillería').attr("hidden", false);
                     break;
                     case "Despensa":
                     $('.Despensa').attr("hidden", false);
                     break;
                     case "Despensa":
                     $('.Despensa').attr("hidden", false);
                     break;
                     case "Jugos y Bebidas":
                     $('.Jugos y Bebidas').attr("hidden", false);
                     break;
                   }
                 });
                </script>
        
            </div>
</body>

</html>