<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error <%= error %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey">
    <div class="w3-container w3-center">
        <h1 class="w3-jumbo">Error <%= error %></h1>
        <img src="/detective_pikachu.png" class="w3-image" />
        <h4><%= message %></h4>
    </div>
</body>
</html>