<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Do-Your-List.com
  </title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <style>
    a{
      color: black;
      font-family: 'Rubik', sans-serif;
    }

    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }

    .content {
      position: relative;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
  </style>
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="/beach.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>


    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Do-Your-List.com</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
      </div>
    </nav> 

    <div class="container">
      <div class="content">
        <div style="padding: 170px;">
            <h3 style="text-align: center; padding-bottom: 50px;">Regístrate</h3>            
            <a href="/register"><button type="button" class="btn btn-light btn-lg btn-block">Register</button></a>
            <h3 style="text-align: center; padding-bottom: 50px; padding-top: 50px;">Ingresa</h3>
            <a href="/login"><button type="button" class="btn btn-light btn-lg btn-block">Log In</button></a>
        </div>
      </div>
    </div>

</body>

</html>